<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-overview">
    <div class="details">
      <h4 class="welcome-text">Welcome,</h4>
      <h1 class="name">{{user?.firstName | titlecase}}</h1>
      <p class="phone">{{user?.phoneNumber}}</p>
    </div>
    <div class="image">
      <ion-avatar>
        <img src="assets/imgs/{{user?.gender}}_avatar.svg" alt=" avatar">
      </ion-avatar>
    </div>
  </div>
  <ion-list>
    <ion-item button routerLink="/profile">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sign out</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="star-half-outline"></ion-icon>
      <ion-label>Rate us</ion-label>
    </ion-item>
  </ion-list>
</ion-content>