<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Others</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/profile">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="receipt-outline"></ion-icon>
      <ion-label>Check booking status </ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sign out</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="star-half-outline"></ion-icon>
      <ion-label>Rate us</ion-label>
    </ion-item>
  </ion-list>
</ion-content>