@import "pxconverter";

ion-content {
  --background: white;
}

.top {
  padding: 16px;
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  .title {
    font-size: to-rem(24px);
    font-weight: 600;
  }
}

.form {
  margin-top: 30px;
}

.others {
  margin: 15px 0px;
  text-align: center;
  .terms {
    margin-top: 16px;
    .text {
      margin: 0px;
      font-size: to-rem(14px);
    }
  }
}
