<ion-toolbar color="secondary">
  <div class="trip-summary">
    <p class="terminals">
      <ion-icon name="bus"></ion-icon>{{terminals?.departure?.name | titlecase}} <ion-icon name="arrow-forward">
      </ion-icon>
      {{terminals?.arrival?.name | titlecase}}
    </p>
    <p class="date-passengers">
      <ion-icon name="calendar"></ion-icon> {{departureDate | date:'mediumDate'}} <ion-icon class="people-icon"
        name="people"></ion-icon> {{passengers?.total}}
      Passenger{{passengers?.total > 1 ? 's' : ''}}
    </p>
  </div>
</ion-toolbar>