<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="booking-summary">
    <div class="input-placeholder ">
      <div class="icon">
        <ion-icon *ngIf="bookingData.type == 'one_way'" name="return-up-forward-outline"></ion-icon>
        <ion-icon *ngIf="bookingData.type == 'round_trip'" name="repeat"></ion-icon>
      </div>
      <span class="text">{{bookingData.type == 'one_way' ? 'One Way Trip' : 'Round Trip'}}</span>
    </div>

    <div class="input-placeholder ">
      <div class="icon">
        <ion-icon name="locate"></ion-icon>
      </div>
      <span class="text">{{terminals.departure.state.name +' - '+ terminals.departure.name}}</span>
    </div>

    <div class="input-placeholder ">
      <div class="icon">
        <ion-icon name="location"></ion-icon>
      </div>
      <span class="text">{{terminals.arrival.state.name +' - '+terminals.arrival.name}}</span>
    </div>

    <div class="input-placeholder">
      <div class="icon">
        <ion-icon name="people"></ion-icon>
      </div>

      <ng-template #aboveOnePassenger>
        <span class="text">{{bookingData.passengers.length + ' Passengers'}}</span>
      </ng-template>
      <span class="text" *ngIf="bookingData.passengers.length == 1; else aboveOnePassenger;">{{ '1 Passenger'}}</span>
    </div>

    <div class="input-placeholder">
      <div class="icon">
        <ion-icon name="pricetag"></ion-icon>
      </div>
      <span class="text">Departure Price - {{ bookingData.bookings[0].price | currency:'&#8358; '}} *
        {{bookingData.passengers.length}}</span>
    </div>
    <div class="input-placeholder" *ngIf="bookingData.type == 'round_trip'">
      <div class="icon">
        <ion-icon name="pricetag"></ion-icon>
      </div>
      <span class="text">Return Price - {{ bookingData.bookings[1].price | currency:'&#8358; '}} *
        {{bookingData.passengers.length}} </span>
    </div>
    <div class="input-placeholder" *ngIf="bookingData.type == 'round_trip'">
      <div class="icon">
        <ion-icon name="pricetag"></ion-icon>
      </div>
      <span class="text">Total - {{ total | currency:'&#8358; '}} </span>
    </div>
    <div class="input-placeholder">
      <div class="icon">
        <ion-icon name="calendar"></ion-icon>
      </div>
      <span class="text">{{ departureDate | date:'medium'}}</span>
    </div>

    <div class="input-placeholder" *ngIf="returnDate">

      <div class="icon">
        <ion-icon name="calendar"></ion-icon>
      </div>
      <span class="text">{{ returnDate | date:'medium'}}</span>
    </div>


  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="processPayment()" class="btn" color="secondary">
      <ion-icon slot="start" name="card"></ion-icon>
      Pay {{ total | currency:'&#8358; '}}
    </ion-button>
  </ion-toolbar>
</ion-footer>