/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "pxconverter";

@font-face {
  font-family: GTWalsheimPro;
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimProRegular"),
    url(./assets/fonts/GTWalsheimProRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GTWalsheimPro;
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimProBold"),
    url(./assets/fonts/GTWalsheimProBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

ion-title.large-title {
  font-size: to-rem(20px);
}

ion-title {
  font-weight: bold;
}

ion-footer {
  text-align: center;
  ion-toolbar {
    padding: 16px !important;
    ion-button {
      width: 95%;
      --border-radius: 8px;
      --box-shadow: none;
      height: 50px;
      font-weight: 500;
    }
  }
}

ion-button[flat] {
  --border-radius: 8px;
  --box-shadow: none;
  height: 50px;
  font-weight: 500;
}

ion-card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
  border-radius: 8px;
}
