<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-searchbar (ionChange)="search($event)" class="curve" placeholder="Enter Booking Reference" inputmode="search" type="text" showCancelButton="never">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="booking-list" lines="full">
    <ion-item class="booking-item" button *ngFor="let booking of bookings">
      <ion-label>
        <div class="trip">
          <p class="from">{{booking.trip.departureTerminal.state.name}}</p>
          <div class="icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
          <p class="to">{{booking.trip.arrivalTerminal.state.name}}</p>
        </div>
        <p class="trip-type" *ngIf="booking.type == 'one_way'">
          <ion-icon name="return-up-forward-outline"></ion-icon> One Way
        </p>
        <p class="trip-type" *ngIf="booking.type == 'round_trip'">
          <ion-icon name="repeat"></ion-icon> Round Trip
        </p>
      </ion-label>
      <div slot="end">
        <p class="trip-ref">#{{booking.referenceId}}</p>
        <p class="date">{{booking.trip.departureTimestamp | date:'medium'}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>