<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="booking-list" lines="full">
    <ion-item class="booking-item" button *ngFor="let item of [1,2,3,5]">
      <ion-label>
        <div class="trip">
          <p class="from">Ajah</p>
          <div class="icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
          <p class="to">Benin</p>
        </div>
        <p class="trip-type">
          <ion-icon name="return-up-forward-outline"></ion-icon> One Way
        </p>
        <!-- <p class="trip-type">
          <ion-icon name="repeat"></ion-icon> Round Trip
        </p> -->
      </ion-label>
      <div slot="end">
        <p class="trip-ref">#AB-099H80</p>
        <p class="date">21 Nov. 2019</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>