<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Passengers Details</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <ion-list class="bg">
    <ion-list-header>
      <ion-label>Please fill in all passengers details</ion-label>
    </ion-list-header>
    <ion-card class="ion-padding-bottom">
      <ion-card-header>
        <ion-card-subtitle>Adult</ion-card-subtitle>
        <ion-card-title>{{passengers.total > 1 ? 'Main Passenger' : 'Passenger 1'}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Personal Details</ion-label>
          </ion-item-divider>
          <form [formGroup]="passengersForm">
            <div formArrayName="passengers">
              <ion-item class="top" lines="inset" formGroupName="0">
                <ion-input formControlName='name' placeholder="Full Name" type="text"></ion-input>
              </ion-item>
            </div>
          </form>
          <ion-item lines="inset">
            <ion-input placeholder="Email Address" type="text"></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-input placeholder="Phone Number" type="tel"></ion-input>
          </ion-item>
        </ion-item-group>

        <ion-item-group class="ion-margin-top">
          <ion-item-divider>
            <ion-label>Next of Kin</ion-label>
          </ion-item-divider>

          <ion-item lines="inset" class="top">
            <ion-input placeholder="Full Name" type="text"></ion-input>
          </ion-item>

          <ion-item lines="inset">
            <ion-input placeholder="Phone Number" type="tel"></ion-input>
          </ion-item>
        </ion-item-group>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list lines="full" class="bg" *ngIf="passengers.total > 1">
    <ion-list-header>
      <ion-label>Other Passengers Details</ion-label>
    </ion-list-header>
    <form [formGroup]="passengersForm">
      <div [formArrayName]="'passengers'">
        <ng-template *ngFor="let passenger of passengersFormControls(); let i = index;" [ngIf]="i > 0">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{passenger.value.ageBracket | titlecase}}</ion-card-subtitle>
              <ion-card-title>Passenger {{i}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list [formGroupName]="i">
                <ion-item>
                  <ion-input formControlName="name" placeholder="Full name"></ion-input>
                </ion-item>
                <ion-radio-group name="gender" formControlName="gender">
                  <div class="sex-options">
                    <ion-item lines="none">
                      <ion-label>Male</ion-label>
                      <ion-radio value="male"></ion-radio>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>Female</ion-label>
                      <ion-radio value="female"></ion-radio>
                    </ion-item>
                  </div>
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ng-template>

      </div>
    </form>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="!passengersForm.valid" (click)="gotoSummary()" color="secondary">
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>