@import "pxconverter";

.bg {
  background: #d3d3d3fa;
  --background: #d3d3d3fa;
}

ion-item {
  margin-bottom: 10px;
  &.top {
    margin-top: 10px;
  }
}

.add-btn {
  color: var(--ion-color-secondary);
  font-size: to-rem(12px);
  ion-icon {
    color: var(--ion-color-secondary);
    font-size: to-rem(15px);
  }
}

.sex-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  ion-item {
    margin-right: 10px;
    ion-label {
      margin-right: 10px;
    }
  }
}
